
@media only screen and (max-width: 1023px){
    .filtered_item_sorting .item_total>a::after{content: ' / �곸꽭寃���';}
}

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&display=swap');


.layout_header .nav_wrap .categoryAllBtn,
.layout_header .nav_wrap .respCategoryList .categoryDepthLink,
.layout_header .nav_wrap .categorySubWrap .categoryDepth2>li>a,
.title_group1 .title1 {font-family:'Nanum Myeongjo', sans-serif !important;}


.layout_header {box-shadow:none;}
.layout_header .util_wrap {display:none;}
.layout_header .logo_wrap .logo_area {position:relative; width:100%; height:120px; line-height:120px; text-align:center;}
.layout_header .logo_wrap .logo_area>a {display:inline; height:auto;}
.layout_header .logo_wrap .logo_area img {/*vertical-align:baseline;*/}
.layout_header .resp_top_hamburger {left:40px; top:auto; bottom:-30px; margin-top:0; margin-left:-10px; border-radius:50%; background:rgba(255,255,255,0.3); padding:10px; z-index:2;}
.layout_header .resp_top_hamburger>a { width:22px; height:22px; }
.layout_header .resp_top_hamburger>a>b,
.layout_header .resp_top_hamburger>a:before,
.layout_header .resp_top_hamburger>a:after { background:#000; }
.layout_header .resp_top_hamburger>a>b { width:20px; }
.layout_header .resp_top_hamburger>a:before { transform:translateY(-7px) rotate(0deg); }
.layout_header .resp_top_hamburger>a:after { transform:translateY(7px) rotate(0deg); }
.layout_header .resp_top_hamburger>a:hover:before { transform:translateY(-5px) rotate(405deg); }
.layout_header .resp_top_hamburger>a:hover:after { transform:translateY(5px) rotate(-405deg); }
.layout_header .resp_top_hamburger>a.on:before { transform:translateY(-5px) rotate(45deg); }
.layout_header .resp_top_hamburger>a.on:after { transform:translateY(5px) rotate(-45deg); }
.layout_header .util_wrap_menu2 {position:absolute; bottom:-30px; right:30px; z-index:2;}
.layout_header .util_wrap_menu2>li {background:none;}
.layout_header .util_wrap_menu2>li>a {padding:0 10px; line-height:42px; font-size:14px; font-weight:400; color:#8a8780;}
.layout_header .util_wrap_menu2>li>a:hover {color:#000;}
.layout_header .util_wrap_menu2 .respCartArea a {display:block; margin-top:6px; width:26px; height:24px; background:url('../images/icon_cart.png') center no-repeat;}
.layout_header .util_wrap_menu2 .respCartArea a>em {display:block; text-indent:-9999px;}
.layout_header .util_wrap_menu2 .cart_cnt2 {position:absolute; top:3px; right:-5px; background:#999;}
.layout_header .util_wrap_menu2 .respMypage a {display:block; margin-top:6px; width:26px; height:24px; background:url('../images/icon_mypage.png') center no-repeat; text-indent:-9999px;}
.layout_header .resp_top_search {top:auto; bottom:-20px;}
.layout_header .resp_top_search a.btn_search_open {display:block; margin-top:6px; width:26px; height:24px; background:url('../images/icon_search.png') center no-repeat; background-size:cover;}
.layout_header .resp_top_search .search_ver2 {margin-top:0;}
.layout_header .resp_top_search .search_ver2 .search_new .recent_item_list>li.no_data {max-width:100%;}
@media only screen and (max-width:1023px) {
    .layout_header .logo_wrap .resp_wrap {padding-top:0; padding-bottom:0;}
    .layout_header .logo_wrap .logo_area {height:100px; line-height:100px;}
    .layout_header .resp_top_hamburger {left:10px; top:50%; margin-top:-21px; background:none;}    
    .layout_header .util_wrap_menu2 {right:35px; top:50%; margin-top:-18px; padding-right:0;}   
    .layout_header .resp_top_cart,
    .layout_header .util_wrap_menu2>li {display:none;}
    .layout_header .util_wrap_menu2 .respCartArea {display:block;}
    .layout_header .resp_top_search {right:10px; top:50%; margin-top:-18px;}
    .layout_header .resp_top_search a.btn_search_open {width:20px; height:20px;}    
}
@media only screen and (max-width:479px) {
    .layout_header .logo_wrap .logo_area {height:80px; line-height:80px;}    
	.layout_header .logo_wrap .logo_area img {max-height:40px;}
}

/* �ㅻ뜑 - 移댄뀒怨좊━ 硫붾돱 */
.layout_header .nav_wrap {/*margin-top:-50px;*/ border-color:transparent; clear:both;}
.layout_header .nav_wrap .respCategoryList {width:auto; margin:auto; table-layout:auto; display:flex; align-items:center; justify-content:center; list-style:none;}
.layout_header .nav_wrap .respCategoryList>li {padding:0 15px; white-space:nowrap;}
.layout_header .nav_wrap .respCategoryList .nav_category_all {width:auto;}
.layout_header .nav_wrap .respCategoryList .nav_category_all .categoryAllBtn {width:auto; height:50px; line-height:51px; border:0; margin-right:0; padding:0 2px; transition:all ease 0.3s;}
.layout_header .nav_wrap .respCategoryList .nav_category_all  .categoryAllBtn,
.layout_header .nav_wrap .respCategoryList .categoryDepth1 .categoryDepthLink,
.layout_header .nav_wrap .respCategoryList .custom_nav_link .categoryDepthLink {line-height:20px; text-align:center; font-size:17px; font-weight:400; color:#000;}
.layout_header .nav_wrap .respCategoryList .nav_category_all:hover .categoryAllBtn,
.layout_header .nav_wrap .respCategoryList .categoryDepth1:hover .categoryDepthLink,
.layout_header .nav_wrap .respCategoryList .custom_nav_link:hover .categoryDepthLink,
.layout_header .nav_wrap .respCategoryList .nav_category_all.on .categoryDepthLink,
.layout_header .nav_wrap .respCategoryList .categoryDepth1.on .categoryDepthLink,
.layout_header .nav_wrap .respCategoryList .custom_nav_link.on .categoryDepthLink {color:#000;}
.layout_header .nav_wrap .respCategoryList .categoryAllBtn>em,
.layout_header .nav_wrap .respCategoryList .categoryDepthLink>em {display:inline-block; position:relative; height:50px;}
.layout_header .nav_wrap .respCategoryList .categoryAllBtn>em:after,
.layout_header .nav_wrap .respCategoryList .categoryDepthLink>em:after { display:block; content:""; position:absolute; left:50%; bottom:-1px; width:0px; padding-top:1px; background:#333; transition:all .2s; }
.layout_header .nav_wrap .respCategoryList .nav_category_all:hover .categoryAllBtn>em:after,
.layout_header .nav_wrap .respCategoryList .categoryDepth1:hover .categoryDepthLink>em:after,
.layout_header .nav_wrap .respCategoryList .custom_nav_link:hover .categoryDepthLink>em:after { width:100%; left:0; }
.layout_header .nav_wrap .respCategoryList .nav_category_all.on .categoryAllBtn>em,
.layout_header .nav_wrap .respCategoryList .categoryDepth1.on .categoryDepthLink>em,
.layout_header .nav_wrap .respCategoryList .custom_nav_link.on .categoryDepthLink>em { border-bottom:1px solid #333; }
.layout_header .nav_wrap .respCategoryList .categoryAllSub {display:none; position:absolute; left:15px;}
.layout_header .nav_wrap .respCategoryList .categoryAllSub > ul {width:180px; margin-top:0; background:rgba(0,0,0,0.7); padding:20px 0 20px 30px; min-height:300px;}
.layout_header .nav_wrap .respCategoryList .categoryAllSub .categoryDepth1 .categoryDepthLink {height:40px; line-height:41px; text-align:left; font-size:15px;  color:#fff;}
.layout_header .nav_wrap .respCategoryList .categoryAllSub .categoryDepth1 .categoryDepthLink>em {display:block; height:35px;}    
.layout_header .nav_wrap .respCategoryList .categoryAllSub .categoryDepthLink>em:after {bottom:-2px; background:#666; padding-top:1px;}
.layout_header .nav_wrap .respCategoryList .categoryAllSub .categoryDepth1 .categorySub {top:0; left:100%; bottom:0; border-color:transparent; background:rgba(0,0,0,0.6); padding:20px;}    
.layout_header .nav_wrap .respCategoryList .categoryAllSub .categorySubWrap .categoryDepth2>li {border-color:transparent;}
.layout_header .nav_wrap .respCategoryList .categoryAllSub .categorySubWrap .categoryDepth2>li>a,
.layout_header .nav_wrap .respCategoryList .categoryAllSub .categorySubWrap .categoryDepth2>li:hover>a {font-size:15px; font-weight:300; color:#fff;}
@media only screen and (max-width:1279px) {
	.layout_header #cateSwiper .designCategoryNavigation {overflow:visible;}
    .layout_header #cateSwiper .designCategoryNavigation .respCategoryList {display:table;}
    .layout_header #cateSwiper .designCategoryNavigation .respCategoryList>li {display:table-cell; padding:0;}
    .layout_header #cateSwiper .respCategoryList .categoryDepthLink,
    .layout_header #cateSwiper .respCategoryList .categoryAllBtn {margin:0; padding:0 15px;}
} 
@media only screen and (max-width:1023px) {
	.layout_header #cateSwiper .respCategoryList .categoryAllBtn,
	.layout_header #cateSwiper .respCategoryList .categoryAllBtn>em,
	.layout_header #cateSwiper .respCategoryList .categoryDepthLink,	
	.layout_header #cateSwiper .respCategoryList .categoryDepthLink>em {height:40px;}
}
@media only screen and (max-width:767px) {
	.layout_header #cateSwiper .designCategoryNavigation {overflow:hidden;}
}
@media only screen and (max-width:479px) {   
    .layout_header #cateSwiper .respCategoryList .categoryDepthLink,
    .layout_header #cateSwiper .respCategoryList .categoryAllBtn {margin:0; padding:0 10px; font-size:16px;}
    .layout_header #cateSwiper .respCategoryList .categoryAllSub {left:10px;}
}

/* �뗮꽣 */
.layout_footer {padding:70px 0;}
.layout_footer .resp_wrap {position:relative;}
.layout_footer .footer_b {border-top:none; border-bottom:none;}
.layout_footer .menu2 {padding:0;}
.layout_footer .menu2>li>a {height:auto; font-size:15px; line-height:1.6; color:#2b2b2b;}
.layout_footer .social_list {display:none; position:absolute; top:0; right:40px; overflow:hidden; zoom:1; }
.layout_footer .social_list>li { float:left; line-height:0; padding-left:6px; }
.layout_footer .social_list>li:first-child { padding-left:0; }
.layout_footer .social_list>li>a>img { width:24px; opacity:1; transition:opacity 0.3s; }
.layout_footer .social_list>li>a:hover>img { width:24px; opacity:0.6; }
.layout_footer .footer_contents {display:none;}
.layout_footer .footer_c {border-top:none; padding:20px 0 0;}
.layout_footer .line {position:relative;}
.layout_footer .line:after {display:block; content:''; position:absolute; top:0; left:-10px; width:1px; height:140px; background:#fff;}
.layout_footer .menu3 {margin-left:-20px;}
.layout_footer .menu3>li {position:relative; padding:1px 0 1px 20px;}
.layout_footer .menu3>li:before {display:block; content:''; position:absolute; top:6px; left:10px; width:1px; height:12px; background:#c0c0c0;}
.layout_footer .menu3>li,
.layout_footer .menu3>li>a,
.layout_footer .copyright {font-size:13px; font-weight:300; color:#919191;}
.layout_footer .copyright {padding-top:20px;}
.layout_footer .escrow {top:-40px; right:0;}
@media only screen and (max-width:1023px) {
    .layout_footer .social_list {right:10px;}
    .layout_footer .footer_contents>li {width:50% !important; padding-right:0 !important;}
}
@media only screen and (max-width:767px) {
    .layout_footer {padding:30px 0;}
    .layout_footer .social_list {position:relative;}
    .layout_footer .footer_contents>li {width:100% !important;}
    .layout_footer .menu2,
    .layout_footer .menu3 {padding-right:0;}    
}

/* �곗륫 �ъ씠�쒕컮 */
.rightQuickMenuWrap2 {position:fixed; top:0; bottom:0; right:0; width:220px; border-left:1px solid #dbdbdb; background:#fff; z-index:201;}
.rightQuickMenuWrap2 p, .rightQuickMenuWrap2 li, 
.rightQuickMenuWrap2 a, .rightQuickMenuWrap2 span {letter-spacing:0.5px; font-size:11px; font-weight:400; color:#999;}
.rightQuickMenuWrap2 .rightQuick_close {display:none; position:absolute; top:50%; right:220px; margin-top:-50px; width:40px; height:40px; background:#fff;}
.rightQuickMenuWrap2 .rightQuick_open {position:absolute; top:50%; right:220px; margin-top:-50px; width:40px; height:40px; background:#fff;}
.rightQuickMenuWrap2 .rightQuickMenu2 {position:absolute; top:50%; right:220px; margin-top:-10px;}
.rightQuickMenuWrap2 .rightQuickMenu2>a {display:block; margin-top:-1px; width:40px; height:40px;}
.rightQuickMenuWrap2 .right_wrap {padding:0 20px 20px;}
.rightQuickMenuWrap2 .right_wrap h3 {margin:30px 0 11px; font-size:12px; font-weight:600; color:#000; letter-spacing:1.2px;}
.rightQuickMenuWrap2 .right_wrap h3 span {font-weight:inherit; color:inherit;}
.rightQuickMenuWrap2 .right_wrap h3:first-child {margin:30px 0 12px; padding:0; border:none;}
.rightQuickMenuWrap2 .right_item_recent {padding-top:0;}
.rightQuickMenuWrap2 .right_itemList ul li {padding-top:0; position: relative; text-align:center;}
.rightQuickMenuWrap2 .right_itemList ul li .right_quick_goods img {max-width:100%;}
.rightQuickMenuWrap2 .right_itemList ul li .right_quick_goods:hover img {border-color:#fff !important;}
.rightQuickMenuWrap2 .right_itemList .btn_delete {display:none; position:absolute; top:-5px; right:-5px; background:url('../images/design/ico_recently_delete.png') no-repeat; width:15px; height:15px; border-radius:2px;}
.rightQuickMenuWrap2 .right_quick_paging {display:none; position:relative; width:100px; margin:auto; padding:8px 0px; color:#acacac; text-align:center;}
.rightQuickMenuWrap2 .right_quick_paging .right_page_box {display:inline-block; vertical-align:middle; margin-top:-5px;}
.rightQuickMenuWrap2 .right_quick_paging .right_quick_btn_prev {position:absolute; left:0;}
.rightQuickMenuWrap2 .right_quick_paging .right_quick_btn_next {position:absolute; right:0;}
.rightQuickMenuWrap2 .right_menu1>li {font-size:10px; padding:1px 0;}
.rightQuickMenuWrap2 .right_menu1>li>a:hover {text-decoration:underline;}
.rightQuickMenuWrap2 .right_menu1 .phone {margin:-2px 0 10px; font-size:20px; font-weight:400; color:#000; line-height:1.3;}
.rightQuickMenuWrap2 .bank_info>li {padding-top:6px;}
.rightQuickMenuWrap2 .bank_info>li:first-child {padding-top:0;}
.rightQuickMenuWrap2 ul.social_list {overflow:hidden; zoom:1;}
.rightQuickMenuWrap2 ul.social_list>li {float:left; line-height:0; padding-left:10px;}
.rightQuickMenuWrap2 ul.social_list>li:first-child {padding-left:0;}
.rightQuickMenuWrap2 ul.social_list>li>a>img {height:14px; opacity:0.4; transition:opacity 0.3s;}
.rightQuickMenuWrap2 ul.social_list>li>a:hover>img {opacity:1;}
.rightQuickMenuWrap2 .btn_navertalk {display:block; margin-top:30px; line-height:30px; border-radius:2px; border:1px solid #01ba3a; background:#01c43d; text-align:center; font-size:14px; color:#fff; letter-spacing:0;}
@media only screen and (max-width:1023px) {
	.rightQuickMenuWrap2 {display:none;}
}

/* 醫뚯륫 �댁궗�대뱶 硫붾돱 */
.side_close {left:325px;}
.layout_side {width:320px; padding:20px 30px;}
.layout_side .aside_userinformation {border-color:#333; padding:0 0 20px;}
.layout_side .asie_main_menu {padding:10px 0 15px;}
.layout_side .aside_navigation_wrap {border-top:1px solid #333;}
.layout_side .aside_navigation_wrap ul.menu {padding-top:30px; margin-bottom:10px;}
.layout_side .aside_navigation_wrap ul.menu li.mitem,
.layout_side .aside_navigation_wrap ul.menu li.mitem:first-child {border-top:0; border-bottom:0;}
.layout_side .aside_navigation_wrap ul.menu li.mitem.category a.mitem_title {background-color:transparent;}
.layout_side .aside_navigation_wrap ul.menu li.mitem.category a.mitem_goodsview {border-color:transparent; padding:10px 0; font-size:16px; font-weight:300; color:#000;}
.layout_side .aside_navigation_wrap ul.menu li.mitem.category.on, 
.layout_side .aside_navigation_wrap ul.menu li.mitem_subcontents ul.submenu li.submitem.category.on {background-color:transparent;}
.layout_side .aside_navigation_wrap ul.menu li.mitem.mitemicon2,
.layout_side .aside_navigation_wrap ul.menu li.mitem_subcontents ul.submenu {background-color:transparent;}
.layout_side .aside_navigation_wrap ul.menu li.mitem_subcontents ul.submenu li.submitem {border-color:transparent;}
.layout_side .aside_navigation_wrap ul.menu li.mitem_subcontents ul.submenu li.submitem.category:last-child {border-color:transparent;}
.layout_side .aside_navigation_wrap ul.menu li.mitem.mitemicon1,
.layout_side .aside_navigation_wrap ul.menu li.mitem.mitemicon2 {background-position:10px center;}
.layout_side .aside_navigation_wrap ul.menu li.mitem_subcontents ul.submenu li.submitem.category a.submitem_title {background-position:15px center;}
.layout_side .aside_navigation_wrap ul.menu li.mitem.category a.mitem_goodsview {margin-left:35px;}
.layout_side .aside_navigation_wrap ul.menu li.mitem_subcontents ul.submenu li.submitem.category a.mitem_goodsview {margin-left:25px; font-size:14px;}
.layout_side .aside_navigation_wrap ul.menu li.custom_nav_link a.mitem_goodsview {color:#999 !important;}
.layout_side .aside_navigation_wrap ul.menu li.custom_nav_link a.mitem_goodsview:hover {color:#000 !important;}
.layout_side .mitem_subcontents + .custom_nav_link {padding-top:10px;}
.layout_side .asie_main_menu>ul>li.am_home,
.layout_side .asie_main_menu>ul>li.am_wish,
.layout_side .asie_main_menu>ul>li.am_coupon,
.layout_side .asie_main_menu>ul>li.am_emony,
.layout_side .aside_navigation_wrap ul.tab,
.layout_side .aside_navigation_bottom_line {display:none;}
.layout_side .wrap_aside,
.layout_side .aside_recently_nodata,
.layout_side .aside_recently {display:;}
.layout_side .aside_cs_btn {padding-top:20px;}
.layout_side .aside_cs_btn>a {display:block; height:34px; line-height:32px; font-size:14px;}


/*********************************** 硫붿씤 �섏씠吏� ***********************************/

/* 硫붿씤 - �щ씪�대뱶 諛곕꼫 */
.wide_visual_slider .sslide img {max-width:inherit; margin-left:-50%; margin-right:-50%;}
.wide_visual_slider .slick-dots {display:none !important; bottom:30px;}
.wide_visual_slider .slick-dots>li {padding:0 3px;}
.wide_visual_slider .slick-dots>li>button {width:13px; height:13px; box-shadow:none; border-radius:50px; border:2px solid #aaa; background:transparent; transition:all ease 0.3s;}
.wide_visual_slider .slick-dots>li.slick-active>button {border-color:#fff; background:transparent;}
.wide_visual_slider .slick-arrow {width:35px; height:67px;}
.wide_visual_slider .slick-prev {left:50%; margin-left:-630px; background:transparent url('../images/design_resp/icon_prev.png'); background-position:42% center;}
.wide_visual_slider .slick-next {right:50%; margin-right:-630px; background:transparent url('../images/design_resp/icon_next.png'); background-position:42% center;}
@media only screen and (max-width:1279px) {
	.wide_visual_slider .sslide img { max-width:120%; margin-left:-30%; margin-right:-30%; }
	.wide_visual_slider .slick-prev {left:40px; margin-left:0;}
	.wide_visual_slider .slick-next {right:40px; margin-right:0;}
}
@media only screen and (max-width:1023px) {
	.wide_visual_slider .sslide img { max-width:140%; margin-left:-20%; margin-right:-20%; }
	.wide_visual_slider .slick-prev {left:10px;}
	.wide_visual_slider .slick-next {right:10px;}	
}
@media only screen and (max-width:767px) {
	.wide_visual_slider .sslide img { max-width:160%; margin-left:-30%; margin-right:-30%; }
    .wide_visual_slider .slick-dots {display:block !important; bottom:15px;}    
}
@media only screen and (max-width:479px) {
	.wide_visual_slider .sslide img { max-width:200%; margin-left:-40%; margin-right:-40%; }
}


.title_group1 {padding:100px 0 50px;}
.title_group1 .title1 {font-size:53px; font-weight:500; letter-spacing:-2px;}
.display_wrap .title_group1 .title1 {position:relative; padding-top:30px;}
.display_wrap .title_group1 .title1:before {display:block; content:''; position:absolute; top:0px; left:50%; margin-left:-25px; width:50px; height:1px; background:#333;}
@media only screen and (max-width:767px) {
    .title_group1 {padding:60px 0 20px;}
    .title_group1 .title1 {font-size:40px;}
}
@media only screen and (max-width:479px) {
    .title_group1 {padding:40px 0 10px;}
    .title_group1 .title1 {font-size:30px;}
	.display_wrap .title_group1 .title1 {padding-top:15px;}
	.display_wrap .title_group1 .title1:before {margin-left:-15px; width:30px;}
}


.goods_list li.gl_item .resp_display_goods_info {text-align:center;}
.goods_list li.gl_item .resp_display_goods_info .displaY_goods_name {text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.goods_list li.gl_item .resp_display_goods_info .goodS_info.displaY_besong {margin-top:10px; border-color:#aaa;}
.goods_list li.gl_item .resp_display_goods_info .displaY_review_count {display:none;}
.displaY_sales_percent {color:#7f6f64;}


[data-effect] img { transition:transform 0.5s; }
[data-effect] li.none:hover img { transform:none; }
[data-effect="scale"]>li a { display:block; overflow:hidden; }
[data-effect="scale"] li:hover img { transform:scale(1.05); } 
[data-effect="opacity"] li:hover img { opacity:0.8 } 
[data-effect="rotate_01"] li:hover img { transform:rotate(1.5deg); } 
[data-effect="rotate_02"] li:hover img { transform:rotate(-1.5deg); } 
[data-effect="translateX_01"] li:hover img { transform:translateX(-5px); }
[data-effect="translateX_02"] li:hover img { transform:translateX(5px); } 
[data-effect="translateY_01"] li:hover img { transform:translateY(-5px); } 
[data-effect="translateY_02"] li:hover img { transform:translateY(5px); } 
[data-effect="translateY_Top"]:hover img { transform:translateY(-50px); } 
[data-effect="translateY_Bot"]:hover img { transform:translateY(50px); } 

.full_bnr {background:url('../images/design_resp/bnr_bg.jpg') repeat-y center; margin-top:0; padding:100px 0;}
.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(1) {padding-left:70px; padding-bottom:100px;}
.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(2) {padding-right:70px; padding-top:100px;}
.full_bnr a.roll img{-webkit-filter:grayscale(100%); filter:gray;}
.full_bnr a.roll:hover img{-webkit-filter:grayscale(0%); filter:none;}
@media only screen and (max-width:1023px) {
	.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(1) {padding-left:0;}
	.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(2) {padding-right:0;}
}
@media only screen and (max-width:767px) {
	.full_bnr {padding:60px 0;}
	.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(1) {width:50%; padding-right:5px; padding-bottom:60px;} 
	.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(2) {width:50%; padding-left:5px; padding-top:60px;}
}
@media only screen and (max-width:479px) {
	.full_bnr {padding:40px 0;}
	.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(1) {padding-bottom:30px;}
	.full_bnr .respBnrGon_num2_typeA>ul>li:nth-child(2) {padding-top:30px;}
}


.full_bnr2 {max-width:1920px; margin:0 auto; text-align:center; overflow:hidden;}
@media only screen and (max-width:767px) {
	.full_bnr2 img {max-width:140%; margin-left:-20%; margin-right:-20%;}
}
@media only screen and (max-width:479px) {
	.full_bnr2 img {max-width:160%; margin-left:-30%; margin-right:-30%;}
}


.full_bnr3 {max-width:1920px; margin:100px auto 0; background:#f4f4f4; padding-bottom:80px;}
@media only screen and (max-width:767px) {
	.full_bnr3 {margin-top:60px; padding-bottom:50px;}
}
@media only screen and (max-width:479px) {
	.full_bnr3 {margin-top:40px; padding-bottom:30px;}
	.full_bnr3 .respBnrGon_num3_typeE>ul>li {width:100%;}
}


.full_bnr4 {max-width:1920px; margin:100px auto 0; background:url('../images/design_resp/bnr4_bg.jpg') repeat center; padding:50px 0;}
.full_bnr4 .respBnrGon_num2_typeA>ul>li:nth-child(2) {text-align:left;}
@media only screen and (max-width:767px) {
	.full_bnr4 {margin-top:60px;}
}
@media only screen and (max-width:479px) {
	.full_bnr4 {margin-top:40px;}
}


.full_mov {display:none; position:fixed; top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:1000;}
.full_mov .wrap {position:absolute; top:50%; left:50%; margin:-270px 0 0 -480px; width:960px;}
.full_mov .mov {width:100%; position:relative; padding-bottom:56.25%;}
.full_mov .mov iframe {position:absolute; width:100%; height:100%;}
.full_mov .close {position:absolute; top:0; right:0; width:40px; height:40px; background:rgba(0,0,0,0.5);}
.full_mov .close:before {display:block; content:''; position:absolute; left:0; top:20px; width:40px; height:2px; background:#fff; transform:rotate(45deg);}
.full_mov .close:after {display:block; content:''; position:absolute; left:0; top:20px; width:40px; height:2px; background:#fff; transform:rotate(-45deg);}
@media only screen and (max-width:960px) {
	.full_mov .wrap {left:0; margin:-270px 0 0; width:100%;}
}
@media only screen and (max-width:767px) {
	.full_mov .wrap {margin-top:-200px;}
}
@media only screen and (max-width:479px) {
	.full_mov .wrap {margin-top:-150px;}
}
@media only screen and (max-width:360px) {
	.full_mov .wrap {margin-top:-100px;}
}


#floating_over .ico_floating_back {border:1px solid #ccc; background:#fff url('../images/design_resp/btn_back.png') center no-repeat; background-size:cover;}
#floating_over .ico_floating_foward {border:1px solid #ccc; background:#fff url('../images/design_resp/btn_foward.png') center no-repeat; background-size:cover;}
#floating_over .ico_floating_top {display:none; border:1px solid #ccc; background:#fff url('../images/design_resp/btn_up.png') center no-repeat; background-size:cover; text-indent:-9999px;}
@media only screen and (max-width:1023px) {
    #floating_over .ico_floating_top {display:block;}
}


.designPopupBand, .designPopupBandMobile {z-index:10;}
.designPopupBandBtn {background:url('../images/design_resp/band_btn_open.png') center no-repeat; text-indent:-9999px; z-index:210 !important;}


#designPopupModalBack {display:none;}


.all_list_contents .all_list_title {font-weight:400; line-height:1.0;}
.all_list_contents .all_list_close {background:url(../images/design_resp/del.png) 50% 50% no-repeat;}
@media only screen and (max-width:1023px) {
.all_list_contents .all_list_close {top:18px;}
}
                

.layout_side .title_sub3.v2 {font-weight:400;}
.layout_side .aside_cs_phone:before {display:none;}
.layout_side .aside_cs_phone {font-weight:400;}
.layout_side .aside_cs_addinfo {font-weight:400; color:#666;}
.side_close {margin-top:10px;}
.side_close:before, .side_close:after {height:2px;}


.search_nav select,
.search_nav select option,
.search_nav .navi_linemap2 .selected_cate,
.search_nav .navi_linemap2 .navi_linemap_sub>li {font-size:13px;}


input[type=radio] {width:17px; height:17px;}
input[type=checkbox],
.pilsu_agree_all input[type='checkbox'],
.pilsu_agree_all2 input[type='checkbox'],
.agree_list2 input[type='checkbox'],
.agree_list3 input[type='checkbox'],
.resp_cart_wrap label.checkbox_allselect input[type='checkbox'] {width:16px; height:16px;}
.agree_list2 .agree_view {padding-bottom:0;}


.goods_spec_sections .deatil_sale_rate {border-radius:50%;}
.goods_spec_sections .deatil_price_area,
.goods_spec_sections .goods_spec_shipping,
.goods_buy_sections {border:none;}
.goods_thumbs_spec #goods_thumbs { padding-bottom:40px; }
.goods_information_contents { padding-top:40px; }
@media only screen and (max-width:767px){
    .goods_thumbs_spec #goods_thumbs { padding-bottom:20px; }
    .goods_information_contents { padding-top:0; }
}


.goods_thumbs_spec #goods_spec .btn_resp.size_extra2,
.goods_thumbs_spec #goods_spec .btn_resp.color2 {height:50px; line-height:50px; font-size:16px;} /* �곸꽭 踰꾪듉 */


.table_row_a>tbody>tr>th, .resp_table_row>ul>li.th {border-left:1px solid #fff;}
.table_row_a>tbody>tr>td, .resp_table_row>ul>li.td, .resp_1line_table>ul>li {border-right:1px solid #fff;}
.resp_1line_table, table.list_table_style, .board_goods_select_display.v2 {border-right:1px solid #fff; border-left:1px solid #fff;}
.no_data_area2 {color:#888;}


.resp_login_wrap .box_id[type=text]::placeholder,
.resp_login_wrap .box_pw[type=password]::placeholder,
.resp_login_wrap .box_order[type=text]::placeholder {font-size:14px;} /* 濡쒓렇�� */
.resp_login_wrap .login_real_area .find_join>a.Fw500 {font-weight:400 !important;}
.login_ok_menu .btn_resp.size_c {height:60px; line-height:60px; font-size:16px; font-weight:300;} /* �뚯썝媛��� �꾨즺 踰꾪듉 */

.subpage_wrap.order_payment.flyingMode .order_payment_right .order_subsection {position:relative !important;}
.subpage_wrap.order_payment.flyingMode .order_payment_right .order_subsection .right_flying_wrap1 {padding-left:0 !important; padding-right:0 !important;}
.subpage_wrap.order_payment.flyingMode .order_payment_right .order_subsection .right_flying_wrap3 {width:100% !important; box-shadow:none !important;}
#typereceiptlay .labelgroup_design {margin-bottom:5px;}

/* 怨좉컼�쇳꽣 */
.mycs_fcont_margin {margin-top:60px;}

/* �먯＜ 臾삳뒗 吏덈Ц */
#bbslist .faq_new {border-top:2px solid #333;}
#bbslist .faq_new>li {margin-top:0;}
#bbslist .faq_new .question {border-bottom:1px solid #e0e0e0;}
#bbslist .faq_new .question:before {line-height:58px; padding-left:15px;}
#bbslist .faq_new .question .subject {display:block; background:none; padding:20px 10px 15px 12px;}
#bbslist .faq_new .answer {margin-top:0; border-bottom:1px solid #e0e0e0; background:#f8f8f8; padding:20px 10px 20px 52px;}
#bbslist .faq_new .answer:before {line-height:65px; padding-left:15px;}





@media only screen and (max-width:1023px) {
    .category_edit_area.mobile_img_adjust img{ max-width:100%; margin-left:0; margin-right:0; }
}
@media only screen and (max-width:767px) {
    .category_edit_area.mobile_img_adjust img{ max-width:100%; margin-left:0; margin-right:0; }
}
@media only screen and (max-width:479px) {
    .category_edit_area.mobile_img_adjust img{ max-width:100%; margin-left:0; margin-right:0; }
}

